.chatboat {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: larger;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
}

button:hover {
  background-color: #0056b3;
}
